<!DOCTYPE html>
<html ng-app="movieApp" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movie App</title>
  <link rel="shortcut icon" type="image/png" href="./favicon.png"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="header">
    <div class="container">
      <div class="page-header">
        <img id="popcorn-logo" src="./favicon.png" alt="MovieApp"/>
        <h1 class="site-title"><a href="#/">MovieApp</a></h1>
        <p class="lead">Your Resource for Movie Data.</p>
      </div>
      <div ng-controller="SearchController">
        <form id="search-form" class="form-inline-lg" ng-submit="search()">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for a movie title..." ng-model="query" ng-keyup="keyup()" ng-keydown="keydown()">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="search()">Go!</button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <main>
    <div class="container">
      <div ng-view=""></div>
    </div>
  </main>

  <div class="footer">
    <div class="container">
      <p>movie data provided by <a href="https://www.omdbapi.com">https://www.omdbapi.com</a></p>
    </div>
  </div>

  <script type="text/javascript" src="https://code.angularjs.org/1.4.4/angular.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.4.4/angular-route.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.4.4/angular-resource.js"></script>
  <script type="text/javascript" src="https://code.angularjs.org/1.4.4/angular-mocks.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.min.js"></script>

  <script type="text/javascript" src="omdb/service.js"></script>
  <script type="text/javascript" src="movie-core/service.js"></script>
  <script type="text/javascript" src="movie-app/app.js"></script>
  <script type="text/javascript" src="movie-app/search.controller.js"></script>
  <script type="text/javascript" src="movie-app/results.controller.js"></script>
  <script type="text/javascript" src="movie-app/home.controller.js"></script>
  <script type="text/javascript" src="movie-app/movie-result.directive.js"></script>

</body>
</html>
